################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Roberto's Corner/v16/Server/sqlite3
/HG2020 XMTR Engraver/obj/Release
