################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Roberto's Corner/v16/Server/sqlite3
/HG2020 XMTR Engraver/obj/Release
/RFID/obj/Debug/RFID.frmRFIDMain.resources
/RSSI/obj/Debug/build.force
/Engraver.TAD.ADM/obj/Debug
/Engraver/obj/Debug
/.vs/RFIDProj/v16/Server/sqlite3/db.lock
/.vs/RFIDProj/v16/Server/sqlite3/storage.ide
/.vs/RFIDProj/v16/Server/sqlite3/storage.ide-shm
/.vs/RFIDProj/v16/Server/sqlite3/storage.ide-wal
