<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RFID.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RFID.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RFID.Properties.Settings>
            <setting name="ReaderIP" serializeAs="String">
                <value />
            </setting>
            <setting name="TCPPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlienReaderUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="AlienReaderPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenSSMSOnRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionPipe" serializeAs="String">
                <value />
            </setting>
        </RFID.Properties.Settings>
        <RFID.Settings1>
            <setting name="ReaderIP" serializeAs="String">
                <value />
            </setting>
        </RFID.Settings1>
    </userSettings>
</configuration>